{% extends 'template.html' %}


{% block content %}
    <a class="a" href={% url 'reg' %}>Регистрация </a>
    <a class="a" href={% url 'auth' %}>Авторизация </a>
    <a class="a" href={% url 'recovery_pass' %}>Востановление </a>
    <a class="a" href={% url 'user_profile' %}>Профиль</a>
    <a class="a" href={% url 'index' %}>Главная</a>
    {#   ann@mail.ru   sddsd  <meta charset="UTF-8"> #}
{#    {% anton.n1996@mail.ru  09031996@ %}#}
    <div class="col">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <h2>Привет, админ</h2>
            {% else %}
                <h2>Привет, {{ request.user.username }} </h2>
            {% endif %}
        {% else %}
            <h5>Добро пожаловать!</h5>
        {% endif %}
    </div>
    <div class="reg text-center">
        <div class="mb-3 welcome">
            Добро пожаловать
        </div>
        <div class="mb-3 reginfo">
            Введите свой e-mail и пароль для входа
        </div>
        <div class="regform mb-3">
            <form method="post" action="{% url 'login' %}" value="">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="regform_input_link mb-3">
                    <input type="password" name="password" id="password" placeholder="Пароль">
                </div>
                <div>
                    <a class="forgot_pass_link" href='{% url 'recovery_pass' %}'>Забыли пароль?</a>
                </div>
                <button type="submit" class="main_button">Войти</button>
            </form>
                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
        <div class="auth_link">
            Ещё нет аккаунта?
            <a href="{% url 'reg' %}" style="text-decoration: none;">
                Регистрация
            </a>
        </div>
    </div>
{% endblock %}