@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto&display=swap');

/* ------------- */
/* Template page */
/* ------------- */
section {
    padding: 0 calc(50% - 187.5px);
}
.vector {
    position: static;
    width: 128px;
    height: 28px;
    left: 0px;
    top: calc(50% - 28px / 2);
}

.topbar {
    display: flex;
    justify-content: space-between;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #81C3F7;
}


/* ------------- */
/* Template page */
/* ------------- */


/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */


/* ------------- */
/* Register page */
/* ------------- */

.welcome {
    font-family: 'Inter';
    font-weight: 500;
}

.reginfo {
    font-family: 'Inter';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

input {
    border: none;
    border-bottom: 1px solid #333333;
    width: 331px;
}

.useful_links {
    display: flex;
    flex-direction: column;
}

.useful_link {
    font-family: 'Roboto';
    font-size: 10px;
    text-decoration: none;
}

.main_button {
    font-family: 'Inter';
    border: none;
    width: 331px;
    height: 62px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.auth_link {
    font-family: 'Inter';
    font-weight: 400;
    color: rgba(60, 60, 67, 0.6);
}


/* ------------- */
/* Register page */
/* ------------- */


/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */


/* ------------- */
/* Auth page */
/* ------------- */


.forgot_pass_link {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}


/* ------------- */
/* Auth page */
/* ------------- */


/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */


/* ------------- */
/* User Profile page */
/* ------------- */


.profile_info {
    background: #FFFFFF;
    border: 1px solid rgba(20, 20, 20, 0.38);
    box-sizing: border-box;
    border-radius: 999px;
}

/* ------------- */
/* User Profile page */
/* ------------- */



/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* -------------------------------------------------- */


/* ------------- */
/* User Setting page */
/* ------------- */



.set_button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    width: 101px;
    height: 34px;
    opacity: 0.8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border: 1px rgba(0, 0, 0, 0.83);

    border-radius: 10px;
}
.labelL {
    white-space: nowrap;
    margin-left: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px
}
.input-xlarge {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    opacity: 0.8;
}