{% extends 'template.html' %}

{% block page_name %}Рейтинг пользователей{% endblock %}

{% block content %}
    {% load static %}
    <div class="text-center">
        <div class="contutlp">
            <div class="user_tasks_list overflow-auto" style="max-height: 100%;">
                {% for rating in user_rating %}
                    <div class="user_rating">
                        <div class="rating_name">
                        {{ rating.user.last_name }}
                        {{ rating.user.first_name }}
                        </div>
                        <div class="rating_points">
                        {{ rating.points }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}