{% extends 'template.html' %}

{% block content %}
    <div class="reg text-center">
        <div class="mb-3 welcome">
            Добро пожаловать
        </div>
        <div class="mb-3 reginfo">
            Введите свои данные для регистрации
        </div>
        <div class="regform mb-3">
            <form >
                <div class="mb-3">
                    <input type="text" id="name" placeholder="Имя">
                </div>
                <div class="mb-3">
                    <input type="text" id="lastname" placeholder="Фамилия">
                </div>
                <div class="mb-3">
                    <input type="email" id="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="password" id="password" placeholder="Пароль">
                </div>
                <div class="useful_links mb-3">
                    <a class="useful_link mb-2" href="#">Политика конфиденциальности</a>
                    <a class="useful_link" href="#">Условия использования</a>
                </div>
                <button type="submit" class="main_button">Создать аккаунт</button>
            </form>
        </div>
        <div class="auth_link">
            Уже есть аккаунт?
            <a href="{% url 'auth' %}" style="text-decoration: none;">
                Войти
            </a>
        </div>
    </div>
{% endblock %}