{% extends 'template.html' %}

{% block page_name %}Список заданий{% endblock %}

{% block content %}
    {% load static %}
    <div class="text-center">
        <div class="task_accept">
            <div class="task_name" style="display: flex; flex-direction: column">
                {% for todo in task_accept %}
                  <div>{{ todo.name }}</div>
                    <div class="desc_photo"><img style="width: 200px;height: 200px; border-radius: 20px" src="{{ todo.photo.url }}"></div>
                {% endfor %}
{#                <div class="bottle"><img width="52px" height="63px" src="{% static 'img/task1.png' %}" alt="Bottle"></div>#}
{#                <p class="name_task_accept">Утилизировать пластиковую бутылку</p>#}
            </div>
            <form method="post" action="task_accept_user" value="" enctype="multipart/form-data" style="margin-top: 10px">
                {% csrf_token %}
                <div class="task_photo">
                    <input type="file" name="image" id="image" placeholder="">
                </div>
                <div class="text-center" style="margin-top: 10px ">
                    <input type="`text`" name="status" id="status" value="{{ 3 }}" disable hidden>
                    <input type="`text`" name="status0" id="status0" value="{{ 2 }}" disable hidden>
                    <button type="submit" class="main_button m-3">Отправить</button>
                    <input type="hidden" name="next" value="{{ next }}" />

                </div>
            </form>

            </div>

            <div class="row" style="justify-content: center">
                {% for massage in messages %}
                    <ul class="{{ massage.tags }}">
                        {% if 'safeTA' in massage.tags %}{{ massage|safe }}{% else %}{{ massage }}{% endif %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}