{% extends 'template.html' %}

{% block page_name %}Выполнение задания{% endblock %}

{% block content %}
    {% load static %}
    <div class="text-center">
        <div class="task_accept">
            <div class="user_task_list" id="t1">
                {% for task in task_complete %}
                    <div class="name_tasklist">{{ task.name}}</div>
                        <div class="desc_tasklist text-break">{{ task.desc }}</div>
                    </div>
{#                    <button type="submit" class="compl_button">Задание выполнено!</button>#}
                        {% for task_done_status in task_done_status %}
                            <div class="task_photo">
                                {#                    <img width="200px" height="200px" style="border-radius: 10px;" src="{% static 'img/musor1.png' %}">#}
                                <img style="width: 200px; height: 200px;" src="{{ task_done_status.photo.url }}">
                            </div>
                            <button type="submit" class="compl_button">{{ task_done_status.status.status_name }}!</button>
{#                            {{ user.id }}#}
{#                            {% if task_done_status.task_done_status == 1 %}#}
{#                                {{ user.id }}#}
{#                                {{ user.id }}#}
{#                                <button type="submit" class="compl_button">Выполнено!</button>#}
    {#                    <button type="submit" class="compl_button">{{ task_status.status_name }}!</button>#}
                        {% endfor %}
{#                            {% elif task_done_status.task_done_status == 3 %}#}
{#                                {{ user.id }}{{ user.id }}{{ user.id }}#}
{#                                <button type="submit" class="compl_button">На проверке!</button>#}
{#                            {% elif task_done_status.task_done_status == 4 %}#}
{#                                {{ user.id }}{{ user.id }}{{ user.id }}{{ user.id }}#}
{#                                <button type="submit" class="compl_button">Доработать!</button>#}
{#                            {% endif %}#}
{#                    {% endfor %}#}
                {% endfor %}
        </div>
    </div>
{% endblock %}