{% extends 'template.html' %}

{% block page_name %}Выполнение задания{% endblock %}

{% block content %}
    {% load static %}
    <div class="text-center">
        <div class="task_accept">
            <div class="user_task_list" id="t1">
                {% for task in task_complete %}
                    <div class="name_tasklist">{{ task.name}}</div>
                        <div class="desc_tasklist">{{ task.desc }}</div>
                    </div>
            <div class="task_photo">
{#                    <img width="200px" height="200px" style="border-radius: 10px;" src="{% static 'img/musor1.png' %}">#}
                    <img width="200px" height="200px" style="border-radius: 10px;" src="{{ task.photo }}">
                </div>
{#                    <button type="submit" class="compl_button">Задание выполнено!</button>#}
                    {% if task.id < 14 %}
                        {% if task.status_id == 2 %}
                            <button type="submit" class="compl_button">Выполнено!</button>
{#                    <button type="submit" class="compl_button">{{ task_status.status_name }}!</button>#}
{#                    {% endfor %}#}
                        {% elif task.status_id == 3 %}
                            <button type="submit" class="compl_button">На проверке!</button>
                        {% endif %}
                    {% else %}
                        {% if task.status_id == 1 %}
                            <button type="submit" class="compl_button">Выполнено!</button>
                            {#                    <button type="submit" class="compl_button">{{ task_status.status_name }}!</button>#}
                            {#                    {% endfor %}#}
                        {% elif task.status_id == 3 %}
                            <button type="submit" class="compl_button">На проверке!</button>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        </div>
    </div>
{% endblock %}