{% extends 'template.html' %}

{% block page_name %}Список заданий{% endblock %}

{% block content %}
    {% load static %}
    <div class="text-center">
        <div class="contutlp">
            <div class="user_tasks_list overflow-auto" style="max-height: 100%">
                    {% for todo in user_task_list %}
                        <form method="post" action="{% url 'user_task_form' %}">
                            {% csrf_token %}
                            <div class="user_task_list">
                                <div class="name_tasklist d-inline-block text-truncate" style="max-width: 290px;">{{ todo.name }}</div>
                                <div class="desc_tasklist d-inline-block text-truncate" style="max-width: 290px;">{{ todo.desc }}</div>
    {#                        </div>#}
    {#                    {% endfor %}#}
    {#                    <div class="text-center">#}
                                <input type="`id`" name="id_user" id="id_user" value="{{ user.id}}" disable hidden />
                                <input type="`id`" name="id_task" id="id_task" value="{{ todo.id}}" disable hidden />

                                <button type="submit" class="main_button_list">Посмотреть</button>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                        </form>
                    {% endfor %}
{#                <div class="row" style="justify-content: center">#}
{#                    {% for massage in messages %}#}
{#                        <ul class="{{ massage.tags }}">#}
{#                            {% if 'safeUL' in massage.tags %}{{ massage|safe }}{% else %}{{ massage }}{% endif %}#}
{#                        </ul>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            #}
            </div>
            <div class="create_task"><a href="{% url 'user_create_task' %}"><img width="50px" height="50px" src="{% static 'img/plusik.png' %}"></a></div>
        </div>
    </div>
{% endblock %}